/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
#content{
    width: 700px;
    height: auto;
    margin: 0 auto;
    background: #FFF;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-top: 30px;
    padding: 30px;
    -webkit-box-shadow: 2px 2px 2px 2px #AAA;
    box-shadow: 2px 2px 2px 2px #AAA;
    opacity:0.95;
    filter:alpha(opacity=95); /* For IE8 and earlier */
}

.margenizq{
    margin-left: 10px;
}

.valign{
    vertical-align: baseline;
}

#azul{
    background-color: #EAF7F7;
    padding-bottom: 1px;
}

#verde{
    background-color: #F2FFD8;
    padding-bottom: 1px;
}

.right{
    float: right;
    margin-bottom: 10px;
}

#flash{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity:0.85;
    filter:alpha(opacity=85); /* For IE8 and earlier */
    font-size: 1.2em;
}

.success{
    border: 4px solid #269b01;
    background: #66d942;
    color: #178A00;
}

.notice{
    border: 4px solid #b37004;
    background: #e1a92d;
    color: #a26003;
}

.error{
    border: 4px solid #ea290a;
    background: #fe6047;
    color: #cd1401;
}